@model SneakersDto
@{
    ViewData["Title"] = "Add Sneakers to Database";
}

@section styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

<h1>Add New Sneakers</h1>

<form method="post" asp-controller="Add" asp-action="Check">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <span asp-validation-for="Description"></span>

    <label asp-for="Size"></label>
    <input asp-for="Size" />
    <span asp-validation-for="Size"></span>

    <label asp-for="Price"></label>
    <input asp-for="Price" />
    <span asp-validation-for="Price"></span>

    <input type="submit" value="Add" />
</form>
